{%  extends 'league/main.html' %}

{% block content %}

<style>

.container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
  }

  .card {
      width: 500px; /* Adjust the card width as needed */
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card-body {
      padding: 20px;
  }

  .card-title {
      font-size: 18px;
      text-align: center;
      font-family: 'Lexend', sans-serif;
  }
  form{
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
  }
</style>

{%  include 'league/messages.html' %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Match Scores</h4>
            <form method="post">
                {% csrf_token %}
                {{ update_scores_form.as_p }}
                <button type="submit" class="btn btn-primary">Update Scores</button>
            </form>
        </div>
    </div>
</div>
<p style="display: block; text-align: center; font-size: 12px;"><a href="{% url 'addScorers' %}">Add Goal Scorers</a></p>


{% endblock %}
